body {
  background-color:#D5D3CC;
  margin: 0;
  padding: 0;
}
header {
  display:block;
  position:fixed;
  background-color:#57554F;
  margin:0;
  padding:0;
  min-width:100vw;
  max-width: 100vw;
  height:60px;
  top:0;
  z-index: 1;
}
h1 {
  color:#B89123;
  font-family: "inter";
}
h2 {
  color:#B89123;
  font-family: "inter";
}
h3 {
  color:#B89123;
  font-family: "inter";
}
p {
  color:#B89123;
  font-family: "inter";
}
a {
  color:#B89123;
  font-family: "inter";
}
img {
  position: center;
  max-width: 25%;
  max-height: 25%;
  width: auto; 
  height: auto;
}
.header {
  animation-duration: 2s;
  animation-name: slidein;
  background-image: url('FieldBackground.PNG');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: 300px; 
  width: 100%;
} 
nav {
  animation-duration: 2s;
  animation-name: slidein;
}
.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}
.center {
  text-align: center
}
img {
  height: 200px;
  width: auto; 
  margin-left: 20px;
  margin-right: 20px;
}
a.class1 {
  color: #B89123;
}
a.class2 {
  color: #B89123;
}
@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to{
    translate: 0 0;
    scale: 100% 1;
}
