body {
  background-color:#D5D3CC;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}
header {
  display:block;
  position:fixed;
  background-color:#57554F;
  margin:0;
  padding:0;
  min-width:100vw;
  max-width: 100vw;
  height:60px;
  top:0;
  z-index: 1;
}
h1 {
  color:#B89123;
  font-family: "inter";
}
h2 {
  color:#B89123;
  font-family: "inter";
}
h3 {
  color:#B89123;
  font-family: "inter";
}
p {
  color:#B89123;
  font-family: "inter";
}
a {
  color:#B89123;
  font-family: "inter";
}
img {
  height: 200px;
  width: auto; 
  max-width: 100vw; 
  max-height: 100vw;
  margin: 10px;
  padding: 10px; 
  position: center;
  object-fit: scale-down;
}
img:hover {
  transform: scale(1.2);
}
a.class1 {
  color: #B89123;
}
a.class2 {
  color: #B89123;
}
.header {
  animation-duration: 2s;
  animation-name: slidein;
  background-image: url('FieldBackground.PNG');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: 300px; 
  width: 100%;
} 
.header2 {
  animation-duration: 2s; 
  animation-name: slidein; 
  max-width: 100vw;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 100vw;
}
.center {
  text-align: center
}
#instabadge, #linkedinbadge {
  display: inline-block;
  margin: auto; 
  width: 50%; 
  padding: 25%;
}
@keyframes slidein {
  from {
    translate: 150vw 0;
  }
  to{
    translate: 0 0;
}
