body {
  background-color:#D5D3CC;
}
header {
  display:block;
  position:fixed;
  background-color:#808080;
  margin:0;
  padding:0;
  width:100%;
  height:60px;
  top:0;
}
h1 {
  color:#D6A829;
  font-family: "inter";
}
h2 {
  color:#D6A829;
  font-family: "inter";
}
h3 {
  color:#D6A829;
  font-family: "inter";
}
p {
  color:#D6A829;
  font-family: "inter";
}
a {
  color:#D6A829;
  font-family: "inter";
}
.header {
  animation-duration: 2s;
  animation-name: slidein;
  background-image: url('FieldBackground.PNG');
  background-repeat: no-repeat;
  background-size: cover; 
  min-height: 300px; 
} 
.header2 {
  animation-duration: 2s;
  animation-name: slidein;
}
a.class1 {
  color: #D6A829;
}
a.class2 {
  color: #D6A829;
}
@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to{
    translate: 0 0;
    scale: 100% 1;
}
