body {
  background-color:#D5D3CC;
}
header {
  display:block;
  position:fixed;
  background-color:#57554F;
  margin:0;
  padding:0;
  width:100vw;
  height:60px;
  top:0;
  z-index: 1;
}
h1 {
  color:#B89123;
  font-family: "inter";
}
h2 {
  color:#B89123;
  font-family: "inter";
}
h3 {
  color:#B89123;
  font-family: "inter";
}
p {
  color:#B89123;
  font-family: "inter";
}
a {
  color:#B89123;
  font-family: "inter";
}
img {
  position: center;
  min-height: 300px; 
  width: 480px; 
  height: 270px;
}
.header {
  animation-duration: 2s;
  animation-name: slidein;
  background-image: url('FieldBackground.PNG');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: 300px; 
  width: 100%;
} 
.header2 {
  animation-duration: 2s;
  animation-name: slidein;
}
a.class1 {
  color: #B89123;
}
a.class2 {
  color: #B89123;
}
@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to{
    translate: 0 0;
    scale: 100% 1;
}
@media screen and (max-width: 800px) {
  .container {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px;) {
  .container {
    flex: 100%;
    max-width: 100%;
  }
}
