body {
  background-color:#233E47;
}
header {
  display:block;
  position:fixed;
  background-color:#E9D29C;
  margin:0;
  padding:0;
  width:100%;
  height:60px;
  top:0;
}
h1 {
  color:#E9D29C;
  font-family: "inter";
}
h2 {
  color:#E9D29C;
  font-family: "inter";
}
h3 {
  color:#E9D29C;
  font-family: "inter";
}
p {
  color:#E9D29C;
  font-family: "inter";
}
a {
  color:#233E47;
  font-family: "inter";
}
.header {
  animation-duration: 1s;
  animation-name: slidein;
} 
@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }
  to{
    translate: 0 0;
    scale: 100% 1;
}
