body{
  background-color:#36454F;
}
header{
  display:block;
  position:fixed;
  background-color:#818589;
  margin:0;
  padding:0;
  width:100%;
  height:60px;
  top:0;
}
h1{
  color:#E5AA70;
}
h2{
  color:#E5AA70;
}
h3{
  color:#E5AA70;
}
p{
  color:#E5AA70;
}
a{
  color:#E5AA70;
}
